
{% extends 'base.html' %}

{% block preview %}

    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {% if username %}
        <h2>Hi {{username}}</h2>
        <a type="button" href="/shop/director_view/" class="btn btn-primary">Look info about u shops</a>
    {% else %}
        <h2>Hi Guest</h2>
        <p>U can look only this:</p>
    {% endif %}
    <a type="button" href="/shop/shop_view/" class="btn btn-primary">Look avg sales in all shops</a>

{% endblock %}
