<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <div>
        <section>
            <ul>
                {% if username %}
                    <li><a class="fi-account-logout" href="/auth/logout/">Выйти ({{username}})</a></li>
                {% else %}
                    <li><a class="fi-account-login" href="/auth/login/">Войти</a></li>
                {% endif %}
            </ul>
        </section>
    </div>

    {% block content %}{% endblock %}
    {% block login %}{% endblock %}
    {% block preview %}{% endblock %}
</body>
</html>