<!DOCTYPE html>
<html lang="en">

<head>
	<title>Stager</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'bootstrap-4.0.0-beta/dist/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%;">
		<div class="row">
			  <div class="col-sm-2">
				  <br>
					<img src="{% static 'img/profile.jpg' %}" class="responsive-img" style='max-height:100px;' alt="face">
			  </div>
			  <div class="col-sm-10">
				  <br>
				  <center>
				  <h3>CryptoWallet</h3>
				  </center>
			  </div>
		</div><hr>

		<div class="row">
		  <div class="col-sm-2">
		  <br>

		  <br>
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
			  <ul class="nav nav-pills nav-stacked" style="display:table">
				<li><a href='/'>Wallets</a></li>
				<li><a href='/transactions/'>Transactions</a></li>
				<li><a href='/contact/'>Contact</a></li>
			  </ul>
			</div> <!--well bs-sidebar affix-->
			  <br>
			  {% block content %}
			  {% endblock %}
			  <br><br>
		  </div> <!--col-sm-2-->
		  <div class="col-sm-10">

			<div class='container-fluid'>
			<br><br>

				<img src="{% static 'img/Bitcoin.png' %}" class="responsive-img" style='max-height:300px; max-width: 700px' alt="Bitcoin">
				<br><br>
				<p>
					#BTC
					Впечатляющее ралли продемонстрировал BTC 1.63% в течении сегодняшнего дня.
					Теперь мы ожидаем движение бокового характера с небольшим нисходящим уклоном, двигаясь под красной линией сопротивления.
					Такой ход ценового действия может создать флаг, после формирования которого мы снова пойдем вверх.
				</p>
				<br><br>
				<img src="{% static 'img/Ethereum.png' %}" class="responsive-img" style='max-height:300px; max-width: 700px' alt="Ethereum">
				<br><br>
				<p>
					#ETH
					Готов выйти за пределы треугольника, в течение нескольких дней может преодолеть отметку 750
				</p>
				<br><br>
				<img src="{% static 'img/Nem.png' %}" class="responsive-img" style='max-height:300px; max-width: 700px' alt="Nem">
				<br><br>
				#NEM
				У этого рынка есть два сценария развития.
				Первый: мы с данной точки пробиваем сопротивление облака Ichi и Fib 0.786 (первую попытку пробития можно заметить в выделенном желтом круге), и движемся к сопротивлению 4668,
				пробив которое актив сможет торговаться на более высоких уровнях.
				Второй: снижение цены до нижнего предела облака Ichi и сопротивления Fib 0.5,
				после чего следует отскок для попытки преодолеть сопротивление 4668. Следите за нашими обновлениями.
				<br><br>
				<img src="{% static 'img/ZCoin.png' %}" class="responsive-img" style='max-height:300px; max-width: 700px' alt="Zcoin">
				<br><br>
				#XZC
				Рынок с неплохой перспективой, но в данный момент создал шаблон H&S , что может указывать на дальнейшее снижение.
				Поддержка будет по уровням 0.00330 и 0.00315, от которой ожидаем отскок. Если сценарий снижения ценового действия не сработает,
				и рынок сможет пробить сопротивление 0.00365, то мы получим возможность двигаться к более высоким уровням торговли.
				В формате трех дней так же можно заметить вероятность снижения на короткий срок, но в долгосрочной перспективе нас могут ждать цели уровней 0.00427, 0.00499, 0.00587 и 0.00749
				<br><br>
			</div>
		  </div>
		</div>
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	</footer>

</body>

</html>