

{% extends "personal/header.html" %}

{% block content %}
<h2>Your wallets</h2>
<p>#BTC</p>
<ul>
    <li>Current value : 0.0001567BTC</li>
</ul>
<div>
    <div style="display: -webkit-inline-box;">
        <p><input type="text"></p>
        <button>Buy</button>
    </div>

    <div style="display: -webkit-inline-box;">
        <p><input type="text"></p>
        <button>Sell</button>
    </div>
</div>



<p>#ETH</p>
<ul>
    <li>Current value : 0.000537ETH</li>
</ul>

<div>
    <div style="display: -webkit-inline-box;">
        <p><input type="text"></p>
        <button>Buy</button>
    </div>

    <div style="display: -webkit-inline-box;">
        <p><input type="text"></p>
        <button>Sell</button>
    </div>
</div>

<br>

<p>#NEM</p>
<ul>
    <li>Current value : 0.000987NEM</li>
</ul>

<div>
    <div style="display: -webkit-inline-box;">
        <p><input type="text"></p>
        <button>Buy</button>
    </div>

    <div style="display: -webkit-inline-box;">
        <p><input type="text"></p>
        <button>Sell</button>
    </div>
</div>

<br>

<p>#NEM</p>
<ul>
    <li>Current value : 0.000987NEM</li>
</ul>

<div>
    <div style="display: -webkit-inline-box;">
        <p><input type="text"></p>
        <button>Buy</button>
    </div>

    <div style="display: -webkit-inline-box;">
        <p><input type="text"></p>
        <button>Sell</button>
    </div>
</div>

<br>

<p>#XZC</p>
<ul>
    <li>Current value : XZC</li>
    <li>{{personalinfo.XZC}}</li>
</ul>

<div>
    <div style="display: -webkit-inline-box;">
        <p><input type="text"></p>
        <button>Buy</button>
    </div>

    <div style="display: -webkit-inline-box;">
        <p><input type="text"></p>
        <button>Sell</button>
    </div>
</div>

{% endblock %}