

{% extends "personal/header.html" %}

{% block content %}
<h2>Your wallets</h2>
<p>#BTC</p>
<ul>
    <li>Wallet ID : 846458498434</li>
    <li>Current value : 0.0001567BTC</li>
</ul>

<br><br>

<p>#ETH</p>
<ul>
    <li>Wallet ID : 743455458434</li>
    <li>Current value : 0.000537ETH</li>
</ul>

<br>

<p>#NEM</p>
<ul>
    <li>Wallet ID : 123985458434</li>
    <li>Current value : 0.000987NEM</li>
</ul>

<br>

<p>#NEM</p>
<ul>
    <li>Wallet ID : 123985458434</li>
    <li>Current value : 0.000987NEM</li>
</ul>

<br>

<p>#XZC</p>
<ul>
    <li>Wallet ID : 123786548434</li>
    <li>Current value : 0.001965XZC</li>
</ul>

{% endblock %}