
{% extends 'goods/index.html' %}
{% load static %}

{% block body %}
    <h2>Choose a type of the report</h2>
    <div>
        <div class="d-inline-block ">
            <form action= "{% url 'goods:report_by_days'%}" method="POST">
                <input type="hidden" name="days_report">
                <button type="submit" class="btn btn-success btn-lg">
                    <span class="glyphicon glyphicon-list-alt"> Report by days</span>
                </button>
            </form>
        </div>
        <div class="d-inline-block ">
            <form action= "{% url 'goods:price_difference_report'%}" method="POST">
                <input type="hidden" name="price_difference">
                <button type="submit" class="btn btn-success btn-lg">
                    <span class="glyphicon glyphicon-list-alt"> Price difference report</span>
                </button>
            </form>
        </div>
    </div>

{% endblock %}